styles.css
*{
        padding: rgb(189, 18, 18);
    margin: 0;
}
body{
     background-color: rgb(224, 210, 15);

}
.about-1{
    margin: 30px;
    padding:5px;
}
.about-1 hi{
    text-align: center;
    colour:rgb(153, 194, 42);
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #e60c67;
}
.abou-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(19, 33, 224);
    padding: 80px,30px;
    box-shadow: 0 0 9px; rgba(0,0,0 .6);
}